// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.required:after {
    content:" *";
    color:red;
}

@media only screen and (max-width: 380px) {
    .col-5, .col-8, .col-10 {
        width: 100%;
    }
    .display-6 {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 600px) {
    .col-5 {
        width: 80%;
    }

    .col-8 {
        width: 100%;
    }

    .display-6 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1000px) {
    .col-5 {
        width: 80%;
    }

    .col-8 {
        width: 100%;
    }

    .display-6 {
        font-size: 24px;
    }
}
